# Simple Linear Model
## Context
Suppose we have some observations, there are various ways we can find relationship within that data. Here, we will implement the most basic statistical learning method, a simple linear model to a dataset. The dataset we will use is the `student_exam_scores.csv`, in which we will analyze the relation of student exam scores with some features/covariates.
## Formulation
Linear model has the following form for one input and one continuous output
$$Y = \beta_0 + \beta_1 X + \epsilon$$
where $\epsilon \sim N(0, \sigma^2)$. More generally, we can write it in vector notation for more than one input
$$Y = \vec{X}^T \vec{\beta} + \epsilon.$$
The idea here is to find a linear line that "best fit" the given data/observations. Here, "best fit" means the one that minimizes the residual, i.e. the sum of squared difference between the value of observation and it's associated fitted value.

We can do this using lm()

In [2]:
import numpy as np
import pandas as pd

In [5]:
student_data = pd.read_csv("/Users/louischaristias/Downloads/student_exam_scores.csv")
student_data

,student_id,hours_studied,sleep_hours,attendance_percent,previous_scores,exam_score
0,S001,8.0,8.8,72.1,45,30.2
1,S002,1.3,8.6,60.7,55,25.0
2,S003,4.0,8.2,73.7,86,35.8
3,S004,3.5,4.8,95.1,66,34.0
4,S005,9.1,6.4,89.8,71,40.3
...,...,...,...,...,...,...
195,S196,10.5,5.4,94.0,87,42.7
196,S197,7.1,6.1,85.1,92,40.4
197,S198,1.6,6.9,63.8,76,28.2
198,S199,12.0,7.3,50.5,58,42.0
199,S200,10.2,6.3,97.4,68,37.8